{% extends "base.html" %}
{% load static %}
{% static "images" as baseUrl %}
{% load crispy_forms_tags %}
{% block form %}
<div class="container" style="padding-top: 90px;">
		<div class="row">
			<div class="col">
				<div class="home_search_container">

					<div class="home_search_content">

						<form method="POST" class="home_search_form" id="home_search_form">

							<div
								class="d-flex flex-lg-column flex-column align-items-center justify-content-lg-between justify-content-start">
								<div class="home_search_title">Login</div><br>
								{{ form|crispy }}
								{% csrf_token %}
								<button class="home_search_button" type="submit">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
{% block content %}{% endblock %}